 @font-face {
     font-family: "SignikaNegative";
     src: local("SignikaNegative"),
         url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Signika+Negative:wght@700&display=swap') format("opentype");
 }

 body {
     background-repeat: no-repeat;
     background-image: url("img/fondoIndex.PNG");
     background-size: cover;
     width: 100%;
     min-height: 100vh;
     /* color: white; */
     /*  */
 }
    /* * {
        color: white;
    } */

 footer {
     border-top-style: dashed !important;
     width: 100%;
     height: 15rem;
     display: flex;
     margin-top: 5rem;
     justify-content: space-around;
     /* padding-left: 4rem;
     padding-right: 4rem; */
 }

 footer iframe {
     align-self: center;
     /* margin-left: 4rem; */
 }

 .redes {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .redes div {
     display: flex;
 }


 /* card */
 .cardForm {
     width: 25rem;
     background-color: #d5d5d530 !important;
 }


 /* button */

 #bntAction {
     width: 15rem;
     height: 3rem;
     background-color: rgb(13 110 253 / 60%);
     ;
 }

 #Registrar {
     background-color: rgb(13 110 253 / 60%);
     width: 8rem;
     height: 3rem;
 }

 /* text */
 #title {
     font-family: cursive;
     font-size: 5rem;
 }

 .fontSizeP {
     font-size: 1.5rem;
     margin-bottom: 0;
 }

 .homeContainer p {
     font-size: 1.5rem;
 }

 .beneficios p {
     font-weight: 700;
     font-size: larger;
 }


 /* Container */

 .homeContainer {
     height: calc(100% - 106px);
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .registerContainer {
     height: calc(100% - 106px);
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }


 .beneficios {
     width: 24rem;
     display: flex;
     flex-direction: column;
     margin: auto;
     height: 22rem;
     padding: 2.5rem;
     border: 1px solid #ccc;
     /* Establece el borde */
     border-radius: 8px;
     /* Establece la esquina redondeada */
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 }

 .titleCard {
     font-size: 1.5rem;
 }

 .beneficios p {
     text-align: center;
     margin-top: 1.5rem;
     margin-bottom: 0;
 }

 .beneficios img {
     align-self: center;
     width: 4rem;
 }

 .sectionBeneficios {
     margin-top: 2rem;
     min-height: 90vh;
 }

 .beneficiosContainer {
     display: flex;
     margin-top: 7rem !important;
     margin: auto;
     width: 80rem;
 }
 .menu div {
     margin-top: 1rem;
     background-color: transparent;
     border-color: #adb6be6b !important;
 }

 /* input */

 .checkboxModoHeader {
     width: 4rem;
     height: 2rem;
     margin-right: 1rem;
 }

 /* colores */
 .claro {
     background-color: white !important;
 }

 .oscuro {
     background-color: rgb(21, 19, 19) !important;
 }

 .letraClara {
     color: white !important;
 }

 .letraOcura {
     color: rgb(39, 39, 39) !important;
 }

 /* img */
 .pedidoYa {
     align-self: center;

 }

 /* .imgHamburguesa{
    border-image: fill;
 } */